<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestF - free testing platform</title>
</head>
<body>
<div>
    <h2>We are happy to me you!</h2>
    Thank you for your great patient! <br/>
    If we respond late, it is because of heroku's free plan. <br/>
    We are forced to sleep after being inactive for an hour. <br/> <br/>
    TestF provides REST APIs.
    <ul>
        <li>Please follow <a href="https://github.com/chorobaev/testf">this</a> link to see github repository.</li>
        <li>To see API documentation follow <a href="https://documenter.getpostman.com/view/6889089/Szt5gBHq">this</a> link.</li>
    </ul>
</div>
</body>
</html>